
# Log file
*.log

# BlueJ files
*.ctxt

.idea

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#try to learn spring
/src/main/java/com/payk/Spring
src/main/java/com/payk/Spring/
src/main/webapp/WEB-INF/
src/main/resources/bodyNew.html
src/main/resources/test.html